div
  p#custom0 Hello!
  span.small#custom1 Dog: 
  img.dog(src="/dog.jpg" alt="dog")

  // use #{varName} for string interpolation
  // use ${varName} es6 template lits for attrs
  p my name is #{name} and my dogs name is #{dog}

h2 Hello
  em How Are You!?